/* header */
header {
  padding: 10px 0px;
}
#logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
}
#icon{
  width:50px;
  height:50px;
}
#bkman-logo{
  height: 43px;
  position: relative;
  bottom: 7px;
}
/* hero */
.hero-wrap .row {
  margin-left: 0px;
  margin-right: 0px;
}
.hero-wrap .left-container{
  margin-left: 10px; 
  margin-bottom: 20px;
}
.left {
  padding: 0px;
}
.right {
  padding: 0px;
}
.image{
  width: 100%;
}
/* hero goals */
.hero-wrap .goals-list {
  list-style: none;
  padding-left: 0px;
}
.hero-wrap .goals-list li{
  margin-top: 10px;
}
/* hero research */
#reason{
  font-weight: bold;
}
/* hero script */
#script-gist{
  height: 475px;
  overflow: auto;
}
#script-title{
  position: relative;
  left: 5px;
}
/* hero github */
#github-image{
  width: 100%;
}
/* hero redesign */
#redesign-image{
  width: 100%;
}
/* conclusion */
.conclusion{
  margin-left: 10px;
  position: relative;
  bottom: 19px;
}
